<table class="table striped">
  <thead>
    <tr>
      <th>Product's Name</th>
      <th>Product's price</th>
      <th>Product's discounted price</th>
      <th>Promoted Price</th>
      <th>Promotion Code</th>
      <th>Promotion Amount</th>
      <th>Started at</th>
      <th>Expire at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sale_on_sales.each do |sale_on_sale| %>
      <tr>
        <% product = sale_on_sale.product %>
        <% unless product.nil? %>
          <td><%= link_to product.name, sale_on_sale_path(product.permalink) %></td>
          <td><%= product.cost_price %></td>
          <td><%= product.price %></td>
          <td>
            <%= form_for product, :url => sale_on_sale_path(product.permalink) do |f| %>
              <%= f.text_field :on_sale_amount, :class => "span1" %>
            <% end %>
          </td>
          <td><%= product.promotion_code %></td>
          <td><%= product.promotioned_amount %></td>
          <td><%= product.sale_on_sale.starts_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td><%= product.sale_on_sale.expires_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td><%= link_to "Edit", edit_sale_on_sale_path(product.permalink), :class => "btn btn-mini btn-primary" %> <%#= link_to t('.destroy', :default => t("helpers.links.destroy")), sale_on_sale_path(product.permalink), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'  %>  
            <td><%= link_to "Show", sale_on_sale_path(product.permalink), :method => :destroy, :class => "btn btn-mini btn-primary" %></td>
          <td><%= button_to "Delete", sale_on_sale_path(product.permalink), :method => 'delete' , :class => "btn btn-mini btn-danger"%> </td>

          </td>
        <% end %>
      <tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @sale_on_sales %>