<%= form_for @product, :url => sale_on_sale_path(@product.permalink), :html => {:class => "form-horizontal"} do |f| %>
	<fieldset>
    <legend>Sale Promotion</legend>
    <div class="control-group">
      <label class="control-label">Product's Name:</label>
      <div class="controls">
        <%= @product.name %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Product's Price:</label>
      <div class="controls">
        <%= @product.cost_price %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Product's Discounted Price:</label>
      <div class="controls">
        <%= @product.price %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Product's Promoted Price:</label>
      <div class="controls">
        <%= f.text_field :on_sale_amount %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Product's Promotion Amount:</label>
      <div class="controls">
        <%= @product.promotioned_amount %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Product's Promotion Code:</label>
      <div class="controls">
        <%= @product.promotion_code %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Promotion Code usage:</label>
      <div class="controls">
        <%= @product.try(:on_hand) %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit("Update", :class => "btn btn-warning") %>
      <%= link_to "Back", sale_on_sales_path, :class => "btn btn-primary" %>
    </div>
	 </fieldset>
<% end %>