<%= form_for @sale_on_sale, :html => {:multipart => true, :class => "well span57 form-search"} do |file| %>
	<%= file.file_field :attachment %>
	<%= submit_tag("Upload", :class => "btn") %>
<% end %>

<table class="table striped">
	<thead>
		<tr>
			<th>Product's Name</th>
			<th>Product's price</th>
			<th>Product's discounted price</th>
			<th>Promoted Price</th>
			<th>Promotion Code</th>
			<th>Promotion Amount</th>
			<th>Started at</th>
			<th>Expire at</th>
			<th>Actions</th>
		</tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    	<tr>
    		<td><%= link_to product.name, sale_promotion_path(product.permalink) %></td>
    		<td><%= product.cost_price %></td>
    		<td><%= product.price %></td>
    		<td>
    			<%= form_for product, :url => sale_promotion_path(product.permalink) do |f| %>
    				<%= f.text_field :on_sale_amount, :class => "span1" %>
    			<% end %>
    		</td>
    		<td><%= product.promotion_code %></td>
    		<td><%= product.promotioned_amount %></td>
    		<td><%= product.sale_on_sale.starts_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
    		<td><%= product.sale_on_sale.expires_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
    		<td><%= link_to "Edit", edit_sale_promotion_path(product.permalink), :class => "btn btn-mini btn-primary" %> <%#= link_to t('.destroy', :default => t("helpers.links.destroy")), sale_promotion_path(product.permalink), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'  %>
    			<td><%= link_to("Delete", sale_promotion_path(product.permalink), :method => :delete, :class => "btn btn-danger") %></td>
    		</td>
    	<tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products %>

<script type="text/javascript">
	// function showUpdateButton(permalink){
	// 	$("#"+permalink).attr("disabled", "disabled");
	// 	if (permalink == "") {
	// 		alert("Sale Category's name can not be blank.");
	// 	}
	// 	else {
	// 		$.ajax({
	// 		    type: "POST",
	// 		    dataType: "json",
	// 		    url: "/sale_promotions"+permalink,
	// 		    data: {
	// 		    	"product": 
	// 		    	{
	// 		    		"name": permalink
	// 		    	}
	// 	    	},
	// 		   success: function(data){
	// 			 jQuery('.sale_category_id').append('<option value="'+data.id+'">'+data.name+'</option>');
	// 			 jQuery('.sale_category_id').val(data.id);
	// 			 //alert("DATA FROM SERVER: "+data.name);
	// 		    // here is where you process the return value from your controller method
	// 	        // the data variable will hold the return value if the call is successful
	// 	        // you can make your controller return the html to be inserted in your table
	// 	        // and insert it from here or just return a status message and build and add
	// 	        // the html manually here.
	//            },
	//            error: function(x){
	//              alert('There was a problem with the server. Please try again later');
	//            }
	// 		});
	// 	}
	// 	$(".create_sale_category_input").removeAttr("disabled");
	// 	removeNewSaleCategory();
	// 	return 0;
	// }
</script>